# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Django static files
staticfiles/

# Virtual environment
venv/
env/

# Python
*.py[cod]
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.backup
*.tmp
*.temp

# React
node_modules/
build/

# Misc
.DS_Store
.env
